<form method="post" action="{{ path('app_cycle_delete', {'id': cycle.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cycle.id) }}">
    <button class="btn"><i class="fa-solid fa-trash" style="color:red"></i></button>
</form>
