<form method="post" action="{{ path('app_adherant_delete', {'id': adherant.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adherant.id) }}">
    <button class="btn"><i class="fa-solid fa-trash"></i></button>
</form>
