<form method="post" action="{{ path('app_dossiermedical_delete', {'id': dossiermedical.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dossiermedical.id) }}">
    <button class="btn"><i class="fa-solid fa-trash"></i></button>
</form>
