<form method="post" action="{{ path('app_teste_delete', {'id': teste.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ teste.id) }}">
    <button class="btn"><i class="fa-solid fa-trash"></i></button>
</form>
