<form method="post" action="{{ path('app_income_delete', {'id': income.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ income.id) }}">
    <button class="btn"><i class="fa-solid fa-trash"></i></button>
</form>
