<form method="post" action="{{ path('app_dossier_delete', {'id': dossier.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dossier.id) }}">
    <button class="btn"><i class="fa-solid fa-trash"></i></button>
</form>
