<form method="post" action="{{ path('app_mesure_delete', {'id': mesure.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mesure.id) }}">
    <button class="btn"><i class="fa-solid fa-trash"></i></button>
</form>
