<form method="post" action="{{ path('app_demecategorie_delete', {'id': demecategorie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ demecategorie.id) }}">
    <button class="btn">Delete</button>
</form>
