{% extends 'base.html.twig' %}

{% block title %}New Demecategorie{% endblock %}

{% block body %}
    <h1>Create new Demecategorie</h1>

    {{ include('demecategorie/_form.html.twig') }}

    <a href="{{ path('app_demecategorie_index') }}">back to list</a>
{% endblock %}
