<form method="post" action="{{ path('app_master_delete', {'id': master.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ master.id) }}">
    <button class="btn"><i class="fa-solid fa-trash"></i></button>
</form>
